<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91063080524-ddh369npgt5jdjiehncvf1kr7ceikaq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91063080524-ddh369npgt5jdjiehncvf1kr7ceikaq8</string>
	<key>API_KEY</key>
	<string>AIzaSyAUOfvavNip_8mggZnczp6e3jhP2iZX_PM</string>
	<key>GCM_SENDER_ID</key>
	<string>91063080524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-84758</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-84758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91063080524:ios:c5cb6e148bfcbf5ae006e9</string>
</dict>
</plist>